<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <form #f="ngForm" novalidate (ngSubmit)="onSubmit(f.value, f.valid)" action="">
        <div class="alert alert-success" role="alert" [hidden]="!f.submitted || !f.value">
          <strong>Well done!</strong> You have been successfully registered.
        </div>
        <div class="form-group">
          <label for="firstname">First name:</label>
          <input type="text" class="form-control" id="firstname" name="firstname" [ngModel]="user.firstname" #firstname="ngModel" placeholder="Enter your firstname" ngModel>
        </div>
        <div class="form-group">
          <label for="lastname">Last name:</label>
          <input type="text" class="form-control" id="lastname" name="lastname" [ngModel]="user.lastname" #lastname="ngModel" placeholder="Enter your lastname" ngModel >
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" [ngModel]="user.username" #username="ngModel" required minlength="5" maxlength="8" placeholder="Enter your username">
          <small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">
            Username is required (minimum 5 characters).
          </small>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" [ngModel]="user.email" #email="ngModel" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" placeholder="Your Email">
          <small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-danger">
            Email is required and format should be <i>john@doe.com</i>.
          </small>
        </div>
        <div class="form-group">
          <label for="pass">Password:</label>
          <input type="password" class="form-control" name="password" [ngModel]="user.password" 
        required #password="ngModel" reverse="true" placeholder="Enter your password">
          <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
            Password is required
          </small>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Repeat password:</label>
          <input type="password" class="form-control" name="confirmPassword" [ngModel]="user.confirmPassword" 
        required validateEqual="password" #confirmPassword="ngModel" reverse="false" placeholder="Repeat your password">
          <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
          Password mismatch
        </small>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <div class="margin-20" *ngIf="f">
        <div>Form details:-</div>
        <pre>Is form valid?: <br>{{f.valid | json}}</pre>
        <pre>Is form submitted?: <br>{{f.submitted | json}}</pre>
        <pre>submitted value: <br>{{f.value | json}}</pre>
      </div>
      </form>
    </div>
  </div>
</div>