<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> You have been successfully registered.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-2 col-md-8">
      <form (ngSubmit)="onSubmit(f)" action="" #f="ngForm">
        <div class="form-group">
          <label for="firstname">First name:</label>
          <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your first-name" ngModel >
        </div>
        <div class="form-group">
          <label for="lastname">Last name:</label>
          <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your last" ngModel >
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" ngModel >
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" ngModel >
        </div>
        <div class="form-group">
          <label for="pass">Password:</label>
          <input type="password" class="form-control" id="pass" name="password" placeholder="Enter your password" ngModel >
        </div>
        <div class="form-group">
          <label for="passrpt">Repeat password:</label>
          <input type="password" class="form-control" id="passrpt" name="passrpt" placeholder="Repeat your password" >
        </div>
        <div class="form-check">
          <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Remember me
    </label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>
